{% extends "main/includes/base.html" %}
{% load static %}

<!-- SEO Meta Tags Head-->
{% block head %}
<title>Organic Pasal</title>
<meta name="description" content="Arman Cards: We provide these digital services like game reloads, games point cards and gift cards at competitive price while maintaining the highest of standards.">
<meta name="keywords" content="Arman cards, armancards.com, digital services, gaming cards, online subscriptions, pubg uc, free fire diamonds, razer gold, google play, itunes, offgamers gift cards, open bucks gift cards, stream, cheapest netflix subscriptions, about us">
<link rel="canonical" href="https://armancards.com/login/">
{% endblock head %}

{% block content %}

      <!-- Page Title-->
      <div class="page-title">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <ul class="breadcrumbs">
                     <li><a href="/">Home</a> </li>
                     <li class="separator"></li>
                     <li>Login</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-1">
         <div class="row d-flex justify-content-center">
            <div class="col-md-5">
               <form class="card" method="POST" action="">
                  {% csrf_token %}              
                  <div class="card-body ">
                     <h4 class="margin-bottom-1x text-center">Login to your account</h4>

                     <!-- message -->
                     {% if messages %}
                     <div class="mt-3">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                           {{ message }}
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        {% endfor %}
                     </div>
                     {% endif %}
                     <!-- end message -->


                     <div class="form-group input-group">
                        <input class="form-control" type="text" name="username" placeholder="Username"><span class="input-group-addon"><i class="icon-user"></i></span>
                        {% if login_form.username.errors%}               
                           {{login_form.username.errors}}           
                        {% endif %}
                     </div>
                     <div class="form-group input-group">
                        <input class="form-control" type="password" name="password" placeholder="Password" ><span class="input-group-addon"><i class="icon-lock"></i></span>
                        {% if login_form.password.errors%}               
                           {{login_form.password.errors}}           
                        {% endif %}
                     </div>
                     <div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
                        <div class="custom-control custom-checkbox">
                           <input class="custom-control-input" type="checkbox" id="remember_me">
                           <label class="custom-control-label" for="remember_me">Remember me</label>
                        </div>
                        <a class="navi-link" href="{% url 'forgot-password' %}">Forgot password?</a>
                     </div>
                     <div class="text-center">
                        <button class="btn btn-primary margin-bottom-none btn-sm" type="submit">Login</button>
                     </div>
                     {% comment %} <div class="row">
                        <div class="col-lg-12 text-center mt-3">
                           <a class="btn btn-sm facebook-btn" href="https://www.facebook.com/v3.3/dialog/oauth?client_id=664340300885281&amp;redirect_uri=https%3A%2F%2Fgeniusdevs.com%2Fcodecanyon%2Fomnimart20%2Fauth%2Ffacebook%2Fcallback&amp;scope=email&amp;response_type=code&amp;state=01cyDFT4i0NOVYbE3YC86OLgbEQtzsDSgl7eTLc1"><i class="socicon-facebook"></i>Facebook login
                           </a>
                           <a class="btn btn-sm google-btn" href="https://accounts.google.com/o/oauth2/auth?client_id=455917380246-731jcij2dtcccmspa30vhbn85lg4je1p.apps.googleusercontent.com&amp;redirect_uri=https%3A%2F%2Fgeniusdevs.com%2Fcodecanyon%2Fomnimart20%2Fauth%2Fgoogle%2Fcallback&amp;scope=openid+profile+email&amp;response_type=code&amp;state=aVcyg3yf7ddMHiMVfvhPOvleVS7EsRk3tJT8MmnD"><i class="socicon-google"></i> Google login
                           </a>
                        </div>
                     </div> {% endcomment %}
                  </div>

                  <!-- create acc  -->
                  <div class="mt-2 mb-4 mx-auto">
                     New to Arman Cards? <a href="{% url 'user-register'%}" class="text-gray-600 uppercase text-sm">Create an account</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
      
    

{% endblock content %}

{% block extra_scripts %}
<script>
   document.getElementsByClassName('category-list')[0].classList.remove("active");
</script>
{% endblock extra_scripts %}