{% extends "main/includes/base.html" %}
{% load static %}

<!-- SEO Meta Tags Head-->
{% block head %}
<title>Organic Pasal</title>
{% endblock head %}

{% block content %}

	<!--Password reset sent-->
	<div class="container padding-bottom-3x mb-1">
        <h2 class="font-weight-bold mt-3">Password reset sent</h2>
            <hr>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>

{% endblock %}

{% block extra_scripts %}
<script>
   document.getElementsByClassName('category-list')[0].classList.remove("active");
</script>
{% endblock extra_scripts %}